/* @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf') format("opentype");
    font-weight: 700;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Montserrat";
    color: #757575;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-weight: 900;
}

/* Images */

.index {
    background: linear-gradient(to bottom, #00000068, #0000 50%), 0% 40% / cover no-repeat url(img/home_image.jpg) fixed;
    height: 36rem;
}

.article {
    background: linear-gradient(to bottom, #00000068, #0000 50%), top / cover no-repeat url(img/article_image.jpg) fixed;
    height: 36rem;
}

.about {
    background: linear-gradient(to bottom, #00000068, #0000 50%), top / cover no-repeat url(img/about_image.jpg) fixed;
    height: 36rem;
}

.contact {
    background: linear-gradient(to bottom, #00000068, #0000 50%), 0% 15% / cover no-repeat url(img/contact_image.jpg) fixed;
    height: 36rem;
}

/* Header */

.nav-bar {
    display: flex;
    flex-direction: row;
    padding: 1rem 5rem;
    /* background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0rem 0rem 1rem #757575; */
    font-weight: 800;
}

.nav-bar a {
    flex: auto;
    color: white;
    /* color: grey; */
    font-weight: bold;
}

.nav-bar a img {
    flex: auto;
    vertical-align: middle;
    height: 60px;
    margin-right: 0.5rem;
}

.nav-bar div {
    display: flex;
    gap: 6rem;
    margin-top: 1rem;
}

a {
    text-decoration: none;
}

.subtitle {
    text-align: center;
}

.subtitle h1,
.subtitle p {
    color: white;
}

.subtitle h1 {
    margin-top: 10rem;
    font-size: 5rem;
    font-weight: 900;
}

/* Zones de texte */

.container {
    display: flex;
}

.content {
    position: relative;
    width: calc(100% - 375px);
    padding: 4em 16em 2em 32em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
    z-index: 2;
}

.article-box {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.article-box:hover * {
    color: #b07a4f;
}

.article-subtitle {
    font-style: italic;
    font-size: 15px;
}

.article-a-propos {
    margin-top: 1rem;
}

.article-a-propos p {
    font-size: 20px;
}

/* Sidebar */

.sidebar {
    position: relative;
    width: 375px;
    padding: 40px;
    background-color: #F9F9F9;
    z-index: 1;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul h3 {
    font-weight: 300;
    margin-top: 1rem;
}

.sidebar a {
    color: #9F9F9F;
    text-decoration: none;
}

.sidebar ul li {
    padding-bottom: 1rem;
    font-weight: 200;
}

.sidebar li:first-of-type {
    padding-top: 0.5rem;
}

.line {
    border: solid 0.5px #c8c8c8;   
}

/* About page */

.a-propos {
    display: flex;
    gap: 2rem;
    margin: 2rem 0rem;
}

.a-propos img {
    height: 15rem;
}

.text {
    margin-top: 2rem;
}

/* Contact page */

.contact-box {
    margin-top: 5rem;
}

.contact-box strong {
    flex: auto;
    padding-right: 5rem;
}

.contact-box strong img {
    height: 4rem;
    vertical-align: middle;
    margin-right: 1rem;
}

/* Article page */

.article-text p,
.article-text li,
.article-text em {
    font-size: 20px;
    text-align: justify;
}

.article-text h2 {
    margin-top: 5rem;
    font-size: 28px;
}

.article-text li,
.etape {
    margin-top: 2rem;
}

.article-text em {
    font-weight: 300;
}

.sources,
.hair-link {
    font-size: 20px;
    text-decoration: underline;
}

.sources:hover {
    color: #b07a4f;
}

.hair-link:hover {
    color: #b07a4f;
}


/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    border: solid 1px #c8c8c8;
    height: 9rem;
    z-index: 3;
    text-align: center;
}

.link {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.footer img {
    width: 3rem;
}

/* Responsive */
@media screen and (max-width: 1700px) {
    .content {
        padding: 4em 12em 2em 12em;
    }
}

@media screen and (max-width: 1000px) {
    .nav-bar {
        flex-direction: column;
        padding: 1rem 1rem;
    }

    .nav-bar div {
        gap: 1rem;
        flex-wrap: wrap;
    }

    .nav-bar div a {
        margin-left: 2rem;
    }

    .content {
        padding: 2rem 2rem 2rem 2rem;
    }
}

@media screen and (max-width: 740px) {
    /* Images */
    .index {
        background: linear-gradient(to bottom, #00000068 50%, #0000), top / cover no-repeat url(img/home_image.jpg) fixed;
        height: 20rem;
    }
    .article {
        background: linear-gradient(to bottom, #00000068 50%, #0000), top / cover no-repeat url(img/article_image.jpg) fixed;
        height: 20rem;
    }
    .about {
        background: linear-gradient(to bottom, #00000068 50%, #0000), top / cover no-repeat url(img/about_image.jpg) fixed;
        height: 20rem;
    }
    .contact {
        background: linear-gradient(to bottom, #00000068 50%, #0000), top / cover no-repeat url(img/contact_image.jpg) fixed;
        height: 20rem;
    }

    /* Header  */
    .nav-bar {
        flex-direction: column;
        padding: 1rem 1rem;
    }

    .nav-bar div {
        gap: 1rem;
        flex-wrap: wrap;
    }

    .nav-bar div a {
        margin-left: 2rem;
    }

    .subtitle h1 {
        margin-top: 2rem;
        font-size: 2rem;
    }

    /* Text zone */
    .container {
        flex-direction: column;
    }

    .content {
        width: 100%;
        padding: 2rem 2rem 2rem 2rem;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }

    /* Sidebar */
    .sidebar {
        width: 100%;
    }
}