/* @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf') format("opentype");
    font-weight: 700;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Montserrat";
    margin: 0;
}

.index {
    background: linear-gradient(to bottom, #00000068, #0000 50%), 0% 40% / cover no-repeat url(img/home-bg.jpg) fixed;
    height: 36rem;
}

.article {
    background: linear-gradient(to bottom, #00000068, #0000 50%), top / cover no-repeat url(img/article_image.jpg) fixed;
    height: 36rem;
}

.about {
    background: linear-gradient(to bottom, #00000068, #0000 50%), 0% 70% / cover no-repeat url(img/pexels-nataliya-vaitkevich-8467970.jpg) fixed;
    height: 36rem;
}

.contact {
    background: linear-gradient(to bottom, #00000068, #0000 50%), top / contain no-repeat url(img/contact_image.png) fixed;
    height: 36rem;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding: 1rem 5rem;
    /* background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0rem 0rem 1rem #757575; */
    font-weight: 800;
}

.nav-bar a {
    flex: auto;
    color: white;
    /* color: grey; */
    font-weight: bold;
}

.nav-bar a img {
    flex: auto;
    vertical-align: middle;
    height: 60px;
    margin-right: 0.5rem;
}

.nav-bar div {
    display: flex;
    gap: 6rem;
    margin-top: 1rem;
}

a {
    text-decoration: none;
}

.subtitle {
    color: white;
    text-align: center;
}

.subtitle h1 {
    margin-top: 10rem;
    font-size: 5rem;
    font-weight: 900;
}

.container {
    margin: 2rem;
}